html{
    scroll-behavior: smooth;
}
body {
    background: rgba(8, 8, 8, 0.849);
}
nav {
    position: absolute;
    width: 100%;
    height: 50px;
    background: #34495e;
    border-radius: 0px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 black;
}
nav a{
    font-size: 15px;
    width: 100px;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
a:hover {
    height: 100%;
    top:0;
    z-index: 0;
    background: #1ab4bc;
    border-radius: 8px;
    transition: all .5s ease 0s;
}
a:active{
    height: 100%;
    top:0;
    z-index: 0;
    color: red;
    background: wheat;
    border-radius: 8px;
}
/*Navigation End*/

/*isi*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
section {
	padding: 100px 0;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}
.max-width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
.about {
	font-family: 'Poppins', sans-serif;
}
.about .about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
section .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
section .title::after {
	position: absolute;
	bottom: -8px;
	left: 50%;
	font-size: 20px;
	color: rgb(181, 0, 252);
	padding: 0 5px;
	background: #fff;
	transform: translateX(-50%);
}

.home {
	display: flex;
	background: url("image/aiassist.gif") no-repeat center;
	height: 100vh;
	color: #fff;
	min-height: 500px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
}
.home .max-width {
	margin: auto 0 auto 30px;
}
.home .home-content .text-1 {
	font-size: 27px;
}
.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text-3 {
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 span {
	color: rgb(255, 190, 10);
	font-weight: 500;
}
.home .home-content a {
	display: inline-block;
	background: rgb(181, 0, 252);
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	font-weight: 400;
	border-radius: 6px;
	border: 2px solid rgb(181, 0, 252);
	transition: all 0.3s ease;
}
.home .home-content a:hover {
	color: rgb(181, 0, 252);
	background: none;
}

/* about section styling */
.about .title::after {
	content: "Know me better";
}
.about-content{
	grid-area: auto;
}
.about .about-content .left {
	width: 50%;
	float: left;
	position: relative;
}
.about .about-content .left img {
	height: 400px;
	width: auto;
	object-fit: scale-down;
	border-radius: 6px;
}
.about .about-content .right {
	width: 50%;
	float: right;
	position: relative;
}
.about .about-content .right .text {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
	color: white;
}
.about .about-content .right a {
	display: inline-block;
	background: rgb(181, 0, 252);
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgb(181, 0, 252);
	transition: all 0.3s ease;
}
.about .about-content .right a:hover {
	color: rgb(181, 0, 252);
	background: none;
}
.button::after {
	content: '';
	width: 20px; height: 10px;
	border-radius: 6px;
	border: 6px solid rgb(181, 0, 252);
	position: absolute;
	padding: 10px 30px;
	margin-top: 10px;
	margin-left: -55px;
	transform: translate(-40%, -50%);
	animation: ring 1.5s infinite;
  }
  .button:hover::after {
	animation:  none;
	display: none;
  }
  @keyframes ring {
	0% {
	  width: 28px;
	  height: 6px;
	  opacity: 1;
	}
	25%{
		opacity: 0.75;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity:0.25;
	}
	100% {
	  width: 130px;
	  height: 60px;
	  opacity: 0;
	}
  }

/*isi end*/

/*footer*/
.footer {
    background-color: #24262b;
    padding: 20px 0;
}
.sosial h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.sosial h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.sosial a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all .3s ease;
}
.sosial a:hover{
    color: #ffffff;
    padding: 5px;
}
.sosial .link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
}
.sosial .link a:hover{
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .sosial{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .sosial{
        width: 100%;
    }
}


::-webkit-scrollbar{
    width: 10px;
    height: 2px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        to bottom,
        #ff850a,
        #ff3474
    );
    border-radius: 50px;
}
::-webkit-scrollbar-track{
    background: #474747;
}